<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <connectionStrings>
    <!--<add name="AuthContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=AngularJSAuth;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
    <add name="evsContext" providerName="System.Data.SqlClient" connectionString="Data Source=boone-laptop;Initial Catalog=evs_conversion;User ID=sa;Password=ek14aWiqsa;pooling=true" />
    <!--<add name="evsContext" providerName="System.Data.SqlClient" connectionString="Data Source=boone-laptop;Initial Catalog=evsSportsComm;User ID=sa;Password=ek14aWiqsa;pooling=true" />-->
    <!--<add name="evsContext" providerName="System.Data.SqlClient" connectionString="Data Source=boone-laptop;Initial Catalog=evs30Api;User ID=sa;Password=ek14aWiqsa;pooling=false" />-->
    <!--<add name="evsContext" providerName="System.Data.SqlClient" connectionString="Data Source=AMAZONA-1HAI42C;Initial Catalog=evsDev30;User ID=sa;Password=ek14aWiqec2;pooling=true"/>-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>