<section data-ng-controller="setaddon as vm">
  <div class="row">
    <div class="col-lg-12">
      <button ng-click="vm.cancel()" class="btn btn-danger btn-xs pull-right"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;Cancel</button>
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal">
      <legend >Addon Setup</legend>
      <div class="col-lg-12 text-center">
        <div>
          <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-model="vm.addon.addonType" btn-radio="'owner'">Inclusive</button>
            <button type="button" class="btn btn-primary" ng-model="vm.addon.addonType" btn-radio="'event'">Event</button>
            <button type="button" class="btn btn-primary" ng-model="vm.addon.addonType" btn-radio="'listing'">Listing</button>
          </div>
        </div>
        <hr>
      </div>
      <div class="row">
      <!-- End Addon Type -->
        <div class="col-sm-6">
          <div class="form-group" ng-show="vm.addon.addonType === 'event'">
            <label for="addoncode" class="col-lg-6 control-label">Event:</label>
            <div class="col-lg-6">
              <select class="form-control" id="eventuredropdown" ng-model="vm.addon.addonTypeLinkId" ng-options="e.id as e.name for e in vm.eventures">
                  <option value="">-- Please Select --</option>
              </select>
            </div>
          </div>
          <!-- /field -->

          <div class="form-group" ng-show="vm.addon.addonType === 'listing'">
            <label for="addoncode" class="col-lg-6 control-label">Event List:</label>
            <div class="col-lg-6">
              <select class="form-control" id="listdropdown" ng-model="vm.addon.addonTypeLinkId" ng-options="l.id as l.name for l in vm.listings">
                  <option value="">-- Please Select --</option>
              </select>
            </div>
          </div>
          <!-- /field -->

          <div class="form-group">
            <label class="col-lg-6 control-label" for="addonvalue">Addon Amount:</label>
            <div class="col-lg-6">
              <div class="input-group"> <span class="input-group-addon">$</span>
                <input id="addonvalue" type="number" class="form-control"  placeholder="0.00" ng-model="vm.addon.amount" />
              </div>
            </div>
          </div>
          <!-- /field -->

          <div class="form-group">
            <label class="col-lg-6 control-label" for="addonmodifier">Amount Type</label>
            <div class="col-lg-6">
              <select class="form-control" id="addonmodifier" width="100" ng-model="vm.addon.amountTypeId">
                <option value="0">$ Amount</option>
                <option value="1">Percent</option>
              </select>
            </div>
          </div>
          <!-- /field -->

          <div class="form-group">
            <label class="col-lg-6 control-label" for="addonvalue">Addon Description:</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" id="test" ng-model="vm.addon.addonDesc" />
            </div>
          </div>
          <!-- /field -->

        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="col-lg-6 control-label">Only if USAT:</label>
            <div class="col-lg-6">
              <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="vm.addon.isUsat" btn-radio="true">Yes</button>
                <button type="button" class="btn btn-default" ng-model="vm.addon.isUsat" btn-radio="false">No</button>
              </div>
            </div>
          </div>
          <!-- /field -->

          <div class="form-group">
            <label for="" class="col-lg-6 control-label">Only if Shirt Upgrade:</label>
            <div class="col-lg-6">
              <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="vm.addon.isShirtUpgrade" btn-radio="true">Yes</button>
                <button type="button" class="btn btn-default" ng-model="vm.addon.isShirtUpgrade" btn-radio="false">No</button>
              </div>
            </div>
          </div>
          <!-- /field -->

          <div class="form-group">
            <label for="" class="col-lg-6 control-label">Only Owned Events:</label>
            <div class="col-lg-6">
              <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="vm.addon.isOnlyForOwned" btn-radio="true">Yes</button>
                <button type="button" class="btn btn-default" ng-model="vm.addon.isOnlyForOwned" btn-radio="false">No</button>
              </div>
            </div>
          </div>
          <!-- /field -->

          <div class="form-group">
            <label for="" class="col-lg-6 control-label">Active Addon:</label>
            <div class="col-lg-6">
              <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="vm.addon.active" btn-radio="true">Yes</button>
                <button type="button" class="btn btn-default" ng-model="vm.addon.active" btn-radio="false">No</button>
              </div>
            </div>
          </div>
          <!-- /field -->
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-success pull-right" ng-click="vm.saveAndNav()"><em class="glyphicon glyphicon-save"></em>&nbsp;Save Addon</button>
    </div>
  </div>
</section>
