<section data-ng-controller="">
  <div class="row">
    <div class="col-lg-12">
      <button ng-click="vm.cancel()" class="btn btn-danger btn-xs pull-right"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;Cancel</button>
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal">
      <legend >Client Setup</legend>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label col-lg-6">Select A Client:</label>
          <div class="col-lg-6">
            <select class="form-control" data-bind="options: clients, optionsText: 'name', value: selectedClient">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-6">Client Name:</label>
          <div class="col-lg-6">
            <input class="form-control" data-bind='value: selectedClient().name' />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-6">Client Address:</label>
          <div class="col-lg-6">
            <input class="form-control" data-bind='value: selectedClient().street' />
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label col-lg-6">Client City:</label>
          <div class="col-lg-6">
            <input class="form-control" data-bind='value: selectedClient().city' />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-6">Client Phone Number:</label>
          <div class="col-lg-6">
            <input class="form-control" data-bind='value: selectedClient().contactPhone' />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-6">Client Email Address:</label>
          <div class="col-lg-6">
            <input class="form-control" data-bind='value: selectedClient().contactEmail' />
          </div>
        </div>
        <button class="btn btn-info pull-right">Save Client</button>
      </div>
    </form>
  </div>
  <div class="row">
    <form class="form-horizontal">
      <legend >Client Services Setup</legend>
      <div class="col-sm-12">
        <div data-bind='visible: eventureServices().length > 0'>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th class="col-lg-7">Service</th>
                <th class="col-lg-3">Fee Amount</th>
                <th class="col-lg-2 text-center">Variable Fee</th>
                <th />
              </tr>
            </thead>
            <tbody data-bind='foreach: eventureServices'>
              <tr>
                <td>
                  <select class="form-control" data-bind="value: ResourceServiceText">
                    <option>Timing</option>
                    <option>T-Shirts</option>
                    <option>Registration</option>
                  </select>
                </td>
                <td>
                  <p class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" class="form-control" placeholder="0.00" data-bind='value: amount' />
                  </p>
                </td>
                <td class="text-center" ng-controller="VariableFeeCtrl">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-model="radioModel" btn-radio="'Yes'">Yes</button>
                    <button type="button" class="btn btn-default" ng-model="radioModel" btn-radio="'No'">No</button>
                  </div>
                </td>
                <td>
                  <input type="hidden" data-bind='value: eventureId' />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-12 clearfix">
            <button class="btn btn-primary pull-left" data-bind='click: clickAddService'>Add New Service</button>
            <button class="btn btn-info pull-right">Save Services</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12 clearfix">
      <a href="#/setfee" class="btn btn-success btn-lg pull-right">Next</a>
    </div>
  </div>
</section>
