<section data-ng-controller="seteventure as vm">
  <div class="row">
    <div class="col-lg-12">
      <button ng-click="vm.cancel()" class="btn btn-danger btn-xs pull-right"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;Cancel</button>
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal">
      <legend >Event Setup</legend>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="EventName" class="col-lg-6 control-label">Event Name:</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" name="EventName" ng-model="vm.eventure.name" required>
          </div>
        </div>
        <div class="form-group">
          <label for="EventDisplayName" class="col-lg-6 control-label">Event Display Name:</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" name="EventDisplayName" ng-model="vm.eventure.displayHeading" placeholder="Event Display Name" required>
          </div>
        </div>
        <div class="form-group">
          <label for="EventLocation" class="col-lg-6 control-label">Event Location:</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" name="EventLocation" ng-model="vm.eventure.location" placeholder="Event Location" required>
          </div>
        </div>
        <div class="form-group">
          <label for="DateEventure" class="col-lg-6 control-label">Eventure Date (sorting/display until):</label>
          <div class="col-lg-6">
            <p class="input-group">
              <input type="text" name="DateEventure"  class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.eventure.dateEventure" is-open="vm.eventureOpen" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
              <span class="input-group-btn">
              <button class="btn btn-default" ng-click="vm.open($event, 'eventureOpen')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span> </p>
          </div>
        </div>
        <div class="form-group">
          <label for="eventdate" class="col-lg-6 control-label">Display Date Text:</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" name="eventdate" ng-model="vm.eventure.displayDate" placeholder="Display Date Text" required>
          </div>
        </div>
        <div class="form-group">
          <label for="EventDescription" class="col-lg-6 control-label">Event Description:</label>
          <div class="col-lg-6">
            <textarea class="form-control" name="EventDescription" required ng-model="vm.eventure.desc" rows="5"  placeholder="Please enter a description for your event."></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="imagePath" class="col-lg-6 control-label">Image Upload:</label>
          <div class="col-lg-6">
            <label class="btn btn-primary">
              <input type="file" ng-file-select="vm.onFileSelect($files)" style="display:none;"><em class="glyphicon glyphicon-upload"></em>&nbsp;
              Upload Image </label>
            <br>
            <br>
            <div>
              <progressbar class="progress-striped active" value="vm.dynamic" type="{{type}}"></progressbar>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="DisplayOrder" class="col-lg-6 control-label">Display Order:</label>
          <div class="col-lg-6">
            <input type="number" class="form-control" name="DisplayOrder" ng-model="vm.eventure.sortOrder" placeholder="1">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="Refunds" class="col-lg-6 control-label">Allow Refunds:</label>
          <div class="col-lg-6">
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="vm.eventure.refundsAllowed" btn-radio="true">Yes</button>
              <button type="button" class="btn btn-default" ng-model="vm.eventure.refundsAllowed" btn-radio="false">No</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="Transfers" class="col-lg-6 control-label">Allow Transfers:</label>
          <div class="col-lg-6">
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="vm.eventure.transfersAllowed" btn-radio="true">Yes</button>
              <button type="button" class="btn btn-default" ng-model="vm.eventure.transfersAllowed" btn-radio="false">No</button>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="vm.eventure.transfersAllowed">
          <label for="TransferFee" class="col-lg-6 control-label">Transfer Fee:</label>
          <div class="col-lg-6">
            <div class="input-group"> <span class="input-group-addon">$</span>
              <input type="number" class="form-control" name="TransferFee" ng-model="vm.eventure.transferFee" placeholder="0.00">
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="vm.eventure.transfersAllowed">
          <label for="TransferFeeCutoff" class="col-lg-6 control-label">Transfer Cutoff:</label>
          <div class="col-lg-6">
            <p class="input-group">
              <input type="text"name="transfercutoff"  class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.eventure.dateTransferCutoff" is-open="vm.transferOpen" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
              <span class="input-group-btn">
              <button class="btn btn-default" ng-click="vm.open($event, 'transferOpen')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span> </p>
          </div>
        </div>
        <div class="form-group">
          <label for="Deferrals" class="col-lg-6 control-label">Allow Deferrals:</label>
          <div class="col-lg-6">
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="vm.eventure.deferralsAllowed" btn-radio="true">Yes</button>
              <button type="button" class="btn btn-default" ng-model="vm.eventure.deferralsAllowed" btn-radio="false">No</button>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="vm.eventure.deferralsAllowed">
          <label for="DeferralFee" class="col-lg-6 control-label">Deferral Fee:</label>
          <div class="col-lg-6">
            <div class="input-group"> <span class="input-group-addon">$</span>
              <input type="number" class="form-control" name="DeferralFee" ng-model="vm.eventure.deferralFee" placeholder="0.00">
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="vm.eventure.deferralsAllowed">
          <label for="DeferralFeeCutoff" class="col-lg-6 control-label">Deferral Cutoff:</label>
          <div class="col-lg-6">
            <p class="input-group">
              <input type="text"name="DeferralFeeCutoff"  class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.eventure.dateDeferralCutoff" is-open="vm.deferralOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
              <button class="btn btn-default" ng-click="vm.open($event, 'deferralOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span> </p>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-lg-6 control-label">Group Required:</label>
          <div class="col-lg-6">
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="vm.eventure.isGroupRequired" btn-radio="true">Yes</button>
              <button type="button" class="btn btn-default" ng-model="vm.eventure.isGroupRequired" btn-radio="false">No</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-lg-6 control-label">Managed Event:</label>
          <div class="col-lg-6">
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="vm.eventure.managed" btn-radio="true">Yes</button>
              <button type="button" class="btn btn-default" ng-model="vm.eventure.managed" btn-radio="false">No</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-lg-6 control-label">Active Event:</label>
          <div class="col-lg-6">
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="vm.eventure.active" btn-radio="true">Yes</button>
              <button type="button" class="btn btn-default" ng-model="vm.eventure.active" btn-radio="false">No</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-success pull-right" ng-click="vm.saveAndNav()"><em class="glyphicon glyphicon-save"></em>&nbsp;Save Event</button>
    </div>
  </div>
</section>
