<section ng-controller="seteventplanitem as vm">
  <div class="row">
    <div class="col-lg-12">
        <button ng-click="vm.cancel()" class="btn btn-danger btn-xs pull-right"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;Cancel</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <form class="form-horizontal">
        <legend >Event Plan Item Setup</legend>
        <div class="col-sm-6">
            <div class="form-group">
              <label for="Task" class="col-lg-6 control-label">Task:</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" name="Task" ng-model="vm.planItem.task" />
              </div>
            </div>

            <div class="form-group">
              <label for="DueDate" class="col-lg-6 control-label">Due Date:</label>
              <div class="col-lg-6">
                <p class="input-group">
                  <input type="text" name="DueDate"  class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.planItem.dateDue" is-open="vm.dueOpen" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="vm.open($event, 'dueOpen')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span> 
                </p>
              </div>
            </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
              <label for="resource" class="col-lg-6 control-label">Resource:</label>
              <div class="col-lg-6">
                <select class="form-control" id="resource" ng-model="vm.planItem.resourceId" ng-options="r.id as r.name for r in vm.resources"></select>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-lg-6 control-label"> Completed:</label>
              <div class="col-lg-6">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" ng-model="vm.planItem.isCompleted " btn-radio="true">Yes</button>
                  <button type="button" class="btn btn-default" ng-model="vm.planItem.isCompleted " btn-radio="false">No</button>
                </div>
              </div>
            </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 clearfix">
      <button class="btn btn-success pull-right" ng-click="vm.saveAndNav()"><em class="glyphicon glyphicon-save"></em>&nbsp;Save Plan Item</button>
    </div>
  </div>
</section>
