<section data-ng-controller="setexpense as vm">
  <div class="row">
    <div class="col-lg-12">
      <button ng-click="vm.cancel()" class="btn btn-danger btn-xs pull-right"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;Cancel</button>
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal">
      <legend >Expenses Setup</legend>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="Category" class="col-lg-6 control-label">Category:</label>
          <div class="col-lg-6">
            <select name="Category" class="form-control" ng-model="vm.expense.categoryId" ng-options="c.id as c.name for c in vm.categories">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="CostingItem" class="col-lg-6 control-label">Item:</label>
          <div class="col-lg-6">
            <select name="CostingItem" class="form-control" ng-model="vm.expense.itemId" ng-options="i.id as i.name for i in vm.items | filter:{ resourceItemCategoryId: vm.expense.categoryId} ">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="Cost" class="col-lg-6 control-label">Cost:</label>
          <div class="col-lg-6">
            <div class="input-group"><span class="input-group-addon">$</span>
              <input type="number" step="any" class="form-control" name="Cost" placeholder="0.00" ng-model="vm.expense.cost" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="CostType" class="col-lg-6 control-label">Cost Type:</label>
          <div class="col-lg-6">
            <select name="CostType" class="form-control" ng-model="vm.expense.costType">
              <option>Variable Cost</option>
              <option>Fixed Cost</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="Registrants" class="col-lg-6 control-label">Per Number of Registrants:</label>
          <div class="col-lg-6">
            <input type="number" class="form-control" name="Registrants" ng-model="vm.expense.perRegNumber" />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-lg-12 clearfix">
      <button class="btn btn-success pull-right" ng-click="vm.saveAndNav()"><em class="glyphicon glyphicon-save"></em>&nbsp;Save Expense</button>
    </div>
  </div>
</section>
