<section data-ng-controller="setfee as vm">
  <div class="row">
    <form class="form-horizontal">
      <legend >Group Setup</legend>
      <div class="col-lg-12">
        <div data-bind='visible: groups().length > 0'>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Group</th>
                  <th>Capacity</th>
                  <th>Sort Order</th>
                  <th class="text-center" col-xs-3"">Active</th>
                  <th />
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="group in vm.groups">
                  <td>
                    <input class="form-control" ng-model="group.name" />
                  </td>
                  <td>
                    <input type="number" class="form-control" ng-model="group.capacity" />
                  </td>
                  <td>
                    <input type="number" class="form-control" ng-model="group.sortOrder" />
                  </td>
                  <td class="text-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default" ng-model="group.active" btn-radio="true">Yes</button>
                      <button type="button" class="btn btn-default" ng-model="group.active" btn-radio="false">No</button>
                    </div>
                  </td>
                  <td>
                    <input class="form-control" type="hidden" ng-model="vm.listId" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button class="btn btn-info" ng-click="vm.addGroup()"><em class="glyphicon glyphicon-plus-sign"></em>&nbsp;Add New Group</button>
      </div>
    </form>
  </div>
  <br>
  <div class="row">
    <form class="form-horizontal">
      <legend >Fee Schedule Setup</legend>
      <div class="col-lg-12">
        <div data-bind='visible: fees().length > 0'>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Fee</th>
                  <th>Increase Date</th>
                  <th class="text-center col-xs-2">Active</th>
                  <th/>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="fee in vm.fees">
                  <td>
                    <p class="input-group">
                      <span class="input-group-addon">$</span>
                      <input type="number" class="form-control" ng-model="fee.amount" placeholder="0.00" />
                    </p>
                  </td>
                  <td>
                    <p class="input-group">
                      <input type="text" name="DateBegin" class="form-control" datepicker-popup="{{vm.format}}" ng-model="fee.dateBegin" is-open="vm.opened" datepicker-options="vm.dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                      <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="vm.open($event, 'opened')">
                          <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>
                    </p>
                  </td>
                  <td class="text-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default" ng-model="fee.active" btn-radio="true">Yes</button>
                      <button type="button" class="btn btn-default" ng-model="fee.active" btn-radio="false">No</button>
                    </div>
                  </td>
                  <td>
                    <input type="hidden" ng-model="vm.listId" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button class="btn btn-info" ng-click="vm.addFee()"><em class="glyphicon glyphicon-plus-sign"></em>&nbsp;Add New Fee</button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-lg-12 clearfix">
      <button class="btn btn-success btn-lg pull-right" ng-click="vm.saveAndNav()"><em class="glyphicon glyphicon-circle-arrow-right"></em>&nbsp;Next</button>
    </div>
  </div>
</section>
