<section ng-controller="SetQuestion as setq">
  <div class="row">
    <form class="form-horizontal">
      <div class="row">
          <div class="col-sm-12">
              <legend>Question Setup</legend>
              <table class="table">
                  <thead>
                    <tr>
                        <th class="col-lg-4">Question</th>
                        <th class="col-lg-2">Type</th>
                        <th class="col-lg-2">Active</th>
                        <th class="col-lg-2">Required</th>
						<th class="col-lg-2">Order</th>
                        <th />
                    </tr>
                  </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control" ng-model="setq.workingQuestion.questionText" required/>
                            </td>
                            <td>
                                <select class="form-control" ng-model="setq.workingQuestion.questionType" required>
                                  <option value="text">Text Box</option>
                                  <option value="dropdown">Dropdown</option>
                                  <!--<option value="radio">Radio</option>-->
                                  <option value="checkbox">Check Box</option>
                              </select>
                          </td>
                          <td>
                              <div class="col-lg-12">
                                  <div class="btn-group">
                                      <button type="button" class="btn btn-default" ng-model="setq.workingQuestion.active" btn-radio="true">Yes</button>
                                      <button type="button" class="btn btn-default" ng-model="setq.workingQuestion.active" btn-radio="false">No</button>
                                  </div>
                              </div>
                          </td>
                          <td>
                              <div class="col-lg-12">
                                  <div class="btn-group">
                                      <button type="button" class="btn btn-default" ng-model="setq.workingQuestion.isRequired" btn-radio="true">Yes</button>
                                      <button type="button" class="btn btn-default" ng-model="setq.workingQuestion.isRequired" btn-radio="false">No</button>
                                  </div>
                              </div>
                          </td>
                          <td>
                              <input type="number" class="form-control" ng-model="setq.workingQuestion.order" required/>
                          </td>
                      </tr>
                  </tbody>
                </table>
                <div class="well" id="options" ng-if="setq.workingQuestion.questionType == 'radio' || setq.workingQuestion.questionType == 'dropdown'"> <!-- Will begin hidden and show when needed -->
                    <table class="table">
                      <thead>
                          <tr>
                              <th>Options</th>
                              <th />
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  <input class="form-control" ng-model="setq.workingQuestion.options"/>
                                  <p class="help-block">Enter your options as a comma separated list.</p>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="setq.saveQuestion()"><em class="glyphicon glyphicon-save"></em>&nbsp;Save Question</button>
				<button class="btn btn-danger" ng-show="setq.isEdit" ng-click="setq.clearEdits()"><em class="glyphicon glyphicon-ban-circle"></em>&nbsp;Cancel Edits</button>
          </div>
      </div>
    </form>
  </div>
    <hr>
  <div class="row">
      <div class="col-lg-12">
          <table class="table table-responsive">
              <thead>
                  <tr>
                      <th class="col-xs-3">Question</th>
                      <th class="col-xs-2">Type</th>
                      <th class="col-xs-3">Answers</th>
                      <th class="col-xs-1">Required</th>
                      <th class="col-xs-1">Active</th>
					  <th class="col-xs-1">Order</th>
                      <th class="col-xs-1"/>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="(key, q) in setq.customQuestions | orderBy:'order'">
                      <td>{{q.questionText}}</td>
                      <td>{{q.questionType}}</td>
                      <td>{{q.options}}</td>
                      <td>{{q.isRequired}}</td>
                      <td>{{q.active}}</td>
					  <td>{{q.order}}</td>
                      <td><button class="btn btn-default btn-block" ng-click="setq.editQuestion(q.id)"><em class="glyphicon glyphicon-edit"></em>&nbsp;Edit</button></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-success pull-right" ng-click="setq.saveAndNav()"><em class="glyphicon glyphicon-save"></em>&nbsp;Save Listing</button>
    </div>
  </div>
</section>
