<section data-ng-controller="">
  <div class="row">
    <div class="col-lg-12">
      <button ng-click="vm.cancel()" class="btn btn-danger btn-xs pull-right"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;Cancel</button>
    </div>
  </div>
  <form class="form-horizontal">
    <legend >Issue A Refund</legend>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div  ng-controller="RefundTypeCtrl">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Full'">Full Refund</button>
            <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Partial'">Partial Refund</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <h4 class="text-center primary">A refund of the amount { refund } will be issued to { participant.FirstName } { participant.LastName }.</h4>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-8 col-offset-sm-4">
        <div class="form-group">
          <label for="RefundAmount" class="col-lg-6 control-label">Refund Amount:</label>
          <div class="col-lg-6">
            <div class="input-group"> <span class="input-group-addon">$</span>
              <input type="number" class="form-control" name="RefundAmount" placeholder="0.00" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-lg-12 clearfix">
      <button class="btn btn-success pull-right"><em class="glyphicon glyphicon-remove"></em>&nbsp;Issue Refund</button>
    </div>
  </div>
</section>
